
<div class="welcome-container">
    <div class="welcomeMessage">
        <h1>Welcome to our  website!</h1>
    <div class="welcomeSubtitle">
        <h2>Here you can find some of our interesting animals and read about them!</h2>
    </div>
</div>