<footer class="footer-main">
    <div class="footer-right">
        <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://www.linkedin.com" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com" target="_blank"><i class="fa-brands fa-github"></i></a>
    </div>

    <div class="footer-left">
        <p class="footer-links">
            <a href="/">Home</a>
            <a href="#">Blog</a>
            <a href="#">About</a>
            <a href="#">Faq</a>
            <a href="#">Contact</a>
        </p>
        <p>Zooniverse &copy; <%= new Date().getFullYear() %></p>
    </div>

</footer>