<header>

<div class="box">
    <a  href="/"><img class="logo-img" src=<%= `images/logo.png` %> </img></a>
    <h1><%= pageTitle %></h1>
</div>
    <p><%= subTitle %></p>
    <%- include('./navbar') %>
</header>       
