<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zooniverse</title>
    <link rel="stylesheet" href="styles/global.css" />
    <script src="jquery-3.7.1.min.js" defer></script>
</head>