<nav class="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/mammals">Mammals</a></li>
        <li><a href="/reptiles">Reptiles</a></li>
        <li><a href="/birds">Birds</a></li>
    </ul>
</nav>