<nav class="sidebar">
    <ul>
        <% if (locals.animals.mammals || locals.animals.reptiles || locals.animals.birds) { %>
            "all groups here";
        <% } else if (locals.animals) { %>
            just one group;
        <% } %> 
    </ul>
</nav>
