<nav class="sidebar">
    <ul>
        <% if (locals.animals.mammals || locals.animals.reptiles || locals.animals.birds) { %>
            "all groups here";
        <% } else if (locals.animals) { %>
            <% animals.forEach(animal => { %>
            <li><a href='/'> <%= animal.name %> </a></li>
        <% }) %>
        <% } %> 
    </ul>
</nav>
