<nav class="sidebar">
    <ul>
        <% if (locals.animals) { %>
            <% animals.forEach(animal => { %>
            <li><a href="/mammals"><%= animal.group %></a></li>
            <li><a href="/reptiles"><%= animal.group %></a></li>
            <li><a href="/birds"><%= animal.group %></a></li>
       <%  }) %>
       <% } %>
    </ul>
</nav>